<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% include 'sidebar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" > 
    <link rel="stylesheet" href="{% static 'css/bankoption.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/import.css' %}"> -->
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h5 class="title">IMPORTING DATA</h5>
        <ul>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">Choose Bank Option <i class="icon-arrow"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'import' bank='IOB_M' %}">Indian Overseas Bank(Main Branch)</a></li>
                    <li><a href="{% url 'import' bank='IOB_O' %}">Indian Overseas Bank(Other Branch)</a></li>
                    <li><a href="{% url 'import' bank='SBI_M' %}">State Bank of India(Main Branch)</a></li>
                    <li><a href="{% url 'import' bank='SBI_O' %}">State Bank of India(Other Branch)</a></li>
                </ul>
            </li>
        </ul>

        <!-- <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file-upload">
                <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noFile">No file chosen...</div> 
                    <input type="file" name="file" id="file">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Import</button>
        </form> -->
    </div>

    <script src="{% static 'js/bank.js' %}"></script> 
    <script>
        $('#file').bind('change', function () {
            var filename = $("#file").val();
            if (/^\s*$/.test(filename)) {
                $(".file-upload").removeClass('active');
                $("#noFile").text("No file chosen..."); 
            } else {
                $(".file-upload").addClass('active');
                $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
            }
        });
    </script>
</body>
</html>
