<!DOCTYPE html>
{% load static %}
{% include 'sidebar.html'%}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Puduvai Pention {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> 
    <Link rel="stylesheet"href="{% static 'css/style.css'%}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/newsidebar.css' %}"> 
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
  <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>
    {% if user.is_authenticate %}
    {% include 'sidebar.html' %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
      <div class="content text-center">
        <p>
          <strong> Puduvai Pention </strong>
          by
          <a href="https://jgthms.com"> Vignesh </a>
          . The source code is licensed under
          <a href="https://www.gnu.org/licenses/gpl-3.0.en.html"> GPLv3 </a>
        </p>
      </div>
    </div></div></div>
    </footer>
  </body>
</html>

