
<html>
    {% load static %}
    {% include 'sidebar.html' %}
    {% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
         <link rel="stylesheet" href="{% static 'css/sidebarbootstrap.css' %}"> 
        <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
         <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" > 
    </head>
    <body>
        <div class="wrapper rounded bg-white ">
            <!-- <div class="wrapper rounded bg-white"> -->
            <div class="h3 text-center">ADD PENSIONER</div>
            {% if error %} <!-- warning handling --> 
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Alert! </strong>: {{error}}.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
             <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3" data-style="btn-success">
                        {{form.bank|as_crispy_field}}
                    </div>
                    <div class="col-md-6 mt-md-0 mt-3">
                        {{form.monthly_date|as_crispy_field}}
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            {{form.ppo|as_crispy_field}}
                        </div>
                        <div class="col-md-6 mt-md-0 mt-3">
                            {{form.acc|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            {{form.age|as_crispy_field}}
                        </div>
                        <div class="col-md-6 mt-md-0 mt-3">
                            {{form.name|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            {{form.designation|as_crispy_field}}
                        </div>
                        <div class="col-md-6 mt-md-0 mt-3">
                            {{form.types|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            {{form.basic|as_crispy_field}}
                        </div>
                        <div class="col-md-6 mt-md-0 mt-3">
                            {{form.additional|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            {{form.total1|as_crispy_field}}
                        </div>
                        <div class="col-md-6 mt-md-0 mt-3">
                            {{form.comuted|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            {{form.residuary|as_crispy_field}}
                        </div>
                        <div class="col-md-6 mt-md-0 mt-3">
                            {{form.dr|as_crispy_field}}
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-6 mt-md-0 mt-3">
                                {{form.fma|as_crispy_field}}
                            </div>
                            <div class="col-md-6 mt-md-0 mt-3">
                                {{form.emolume|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-md-0 mt-3">
                                {{form.amount|as_crispy_field}}
                            </div>
                            <div class="col-md-6 mt-md-0 mt-3">
                                {{form.less|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-md-0 mt-3">
                                {{form.Total2|as_crispy_field}}
                            </div>
                            <div class="col-md-6 mt-md-0 mt-3">
                                {{form.remarks_text|as_crispy_field}}
                                {{form.remarks_date|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                        </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <script>
                const ageField = document.querySelector('#id_age');
                const basicField = document.querySelector('#id_basic');
                const additionalField = document.querySelector('#id_additional');
                const comutedField = document.querySelector('#id_comuted');
                const total1Field = document.querySelector('#id_total1');
                const residuaryField = document.querySelector('#id_residuary');
                const drField = document.querySelector('#id_dr');
                const fmaField = document.querySelector('#id_fma');
                const emolumeField = document.querySelector('#id_emolume');
                const amountField = document.querySelector('#id_amount');
                const lessField = document.querySelector('#id_less');
                const Total2Field = document.querySelector('#id_Total2');
            
                ageField.addEventListener('change', updateAdditionalFormula);
                basicField.addEventListener('input', updateTotal);
                additionalField.addEventListener('input', updateTotal);
                comutedField.addEventListener('input', updateTotal);
                emolumeField.addEventListener('input', updateTotal2);
                amountField.addEventListener('input', updateTotal2);
                lessField.addEventListener('input', updateTotal2);
            
                function updateTotal() {
                    const basic = parseFloat(basicField.value) || 0;
                    const additional = parseFloat(additionalField.value) || 0;
                    const comuted = parseFloat(comutedField.value) || 0;
                    const total1 = basic + additional;
                    const residuary = total1 - comuted;
                    const dr = total1 * 0.38;
                    const fma = parseFloat(fmaField.value) || 0;
                    const emolume = residuary + dr + fma;
                    total1Field.value = total1.toFixed(2);
                    residuaryField.value = residuary.toFixed(2);
                    drField.value = dr.toFixed(2);
                    fmaField.value = fma.toFixed(2);
                    emolumeField.value = emolume.toFixed(2);
                }
            
                function updateAdditionalFormula() {
                    const age = ageField.value;
                    if (age === 'below_80') {
                        additionalField.value = basicField.value;
                    } else if (age === '80') {
                        additionalField.value = basicField.value * 0.20 || '';
                    } else if (age === '85') {
                        additionalField.value = basicField.value * 0.30 || '';
                    } else if (age === '90') {
                        additionalField.value = basicField.value * 0.40 || '';
                    }
                    updateTotal1();
                    updateTotal2();
                    
                }
            
                function updateTotal2() {
                    const emolume = parseFloat(emolumeField.value) || 0;
                    const amount = parseFloat(amountField.value) || 0;
                    const less = parseFloat(lessField.value) || 0;
                    const Total2 = emolume + amount - less;
                    Total2Field.value = Total2.toFixed(2);
                }
            
                function updateTotal1() {
                    const basic = parseFloat(basicField.value) || 0;
                    const additional = parseFloat(additionalField.value) || 0;
                    const total1 = basic + additional;
                    const residuary = total1 - parseFloat(comutedField.value) || 0;
                    total1Field.value = total1.toFixed(2);
                    residuaryField.value = residuary.toFixed(2);
                    updateTotal();
                }
                     var closeBtn = document.querySelector('.alert .close');
                     closeBtn.addEventListener('click', function() {
                     var alertDiv = closeBtn.parentElement;
          alertDiv.remove();
        });
            </script>
            
        </div> 
    </body>
</html>