<!doctype html>
{% load static %}
{% include 'sidebar.html'%} 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">  -->
 </head>   
<body>
  <section class="home-section">
<main class="pt-3 px-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2"><i class="fa-solid fa-grip"></i> DASHBOARD</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <!-- <div class="btn-group mr-2">
          <button class="btn btn-sm btn-primary">Export</button>
        </div> -->
        <form method="GET" action="{% url 'dashboard' %}">
          <input type="month" id="start" name="selected_month" value="{{ selected_month }}">
          <button type="submit">Submit</button>
      </form>
      
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 pr-0 mb-3">
        <div class="card text-white bg-success">
          {% with iob_m_count=counts.iob_m_count %}
          <div class="card-header"><b>Total Pensioner: {{ iob_m_count }}</b></div>
          {% endwith %}
          <div class="card-body">
            <i class="fa-solid fa-building-columns"></i> INDIAN OVERSEAS BANK (Town Branch)
          </div>
          <div class="card-footer d-flex justify-content-between">
            <div>
              <a class="text-white mr-2" href="{% url 'edit' bank='IOB_M' month=selected_month %}">
                Edit View <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
            <div>
              <a class="text-white" href="{% url 'statement' bank='IOB_M' month=selected_month %}">
                Statement View <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>  
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 pr-0 mb-3">
        <div class="card text-white bg-info">
          {% with iob_o_count=counts.iob_o_count %}
          <div class="card-header"><b>Total Pensioner: {{ iob_o_count }}</b></div>
          {% endwith %}
          <div class="card-body">
            <i class="fa-solid fa-building-columns"></i> INDIAN OVERSEAS BANK (Other Branch)
          </div>
          <div class="card-footer d-flex justify-content-between">
            <div>
              <a class="text-white mr-2" href="{% url 'edit' bank='IOB_O' month=selected_month %}">
                Edit View <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
            <div>
              <a class="text-white" href="{% url 'statement' bank='IOB_O' month=selected_month %}">
                Statement View <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>      
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 pr-0 mb-3">
        <div class="card text-white bg-warning">
          {% with sbi_m_count=counts.sbi_m_count %}
          <div class="card-header"><b>Total Pensioner: {{ sbi_m_count }}</b></div>
          {% endwith %}
          <div class="card-body">
            <i class="fa-solid fa-building-columns"></i>  STATE BANK OF INDIA (Main branch)
          </div>
          <div class="card-footer">
            <a class="text-white mr-2" href="{% url 'edit' bank='SBI_M' month=selected_month %}">
              Edit View <i class="fa fa-arrow-circle-right"></i>
            </a>
            <a class="text-white mr-2" href="{{ statement_url }}">
              Statement View <i class="fa fa-arrow-circle-right"></i>
            </a>
            <!-- <a class="text-white" href="javascript:window.print();">
              Print <i class="fa fa-print"></i>
            </a> -->
          </div>         
        </div>
      </div>
      
      <div class="col-lg-3 col-md-3 col-sm-12 pr-0 mb-3">
        <div class="card text-white bg-danger">
          {% with sbi_o_count=counts.sbi_o_count %}
          <div class="card-header"><b>Total Pensioner: {{ sbi_o_count }}</b></div>
          {% endwith %}
          <div class="card-body">
            <i class="fa-solid fa-building-columns"></i> STATE BANK OF INDIA ( Other branch)
          </div>
          <div class="card-footer d-flex justify-content-between">
            <div>
              <a class="text-white mr-2" href="{% url 'edit' bank='SBI_O' month=selected_month %}">
                Edit View <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
            <div>
              <a class="text-white" href="{% url 'statement' bank='SBI_O' month=selected_month %}">
                Statement View <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>      
        </div>
      </div>
    </div>
    </main>
    <footer class="footer">
      <div class="content text-center">
        <p>
          <strong> Puduvai Pention </strong>
          by
          <a href="https://jgthms.com"> Rogini </a>
          . The source code is licensed under
          <a href="https://www.gnu.org/licenses/gpl-3.0.en.html"> GPLv3 </a>
        </p>
      </div>
    </footer>
  </section>
    </body>
</html>