<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <head>
           <link rel="stylesheet" href="{% static 'css/sidebarbootstrap.css' %}"> 
          <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
           <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" > 
      </head>
    <title>Delete</title>
</head>
<body>
  <div class="wrapper rounded bg-white ">
  <p>Are you sure you want to delete {{ employee.ppo }}?</p>
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <button onclick="location.href='{% url 'edit' month=month bank=bank %}'" type="button" class="btn btn-primary">Cancel</button>
  </form>
</div>
</body>
</html>