<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <link rel="icon" type="image/x-icon" href="{% static 'img/title logo.png' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> demo </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <style>
        body{
            background: linear-gradient(rgba(0,0,0,0.3)50%,rgba(0,0,0,0.3)50%), url({% static 'img/login_bg.jpg' %});
            background-position: center;
            background-size: cover;
            height: 100vh;
}
    </style>
</head>
<body>
    <form action="" method="post" class="box has-background-white form">
    <h2 class="title has-text-centered" style="color: aliceblue;">
        Sign in
    </h2>
    <span style="color: rgb(255, 41, 41);", class="has-text-centered">{{ error }}</span>
    {% csrf_token %}
    <div class="field">
        <p class="control">
            <input type="email" class="input" placeholder="Email" name="email"/>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <input type="password" class="input" placeholder="Password" name="password"/>
                </p>
            </div>
            <div class="field">
                <p class="control has-text-centered" style="padding-top: 1rem;">
                    <button class="button is-success">
                        Login
                    </button>
                </p>
            </div>
        </form>
</body>
</body>
</html>