<!doctype html>
{% load static %}
{% load widget_tweaks %}
{% include 'sidebar.html'%} 
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
    <title>Home</title>
</head>
<section class="home-section">
<br><br><br>
<center><h5 class="has-text-weight-bold">Notification</h5></center>
<div class="container">
    {% for remark, employees in employee_by_remarks.items %}
      {% if employees %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{ remark }}</strong>
          
          {% if remark == 'Double Pension' %}
            Found {{ employees.count }} pensioner. Please cut Medical Allowance for pensioner with the same ACC but different PPO.
          {% elif remark == 'CVP completed' %}
            Found {{ employees.count }} pensioner. Some {% if employees.count == 1 %}Pensioner{% else %}Pensioners{% endif %} have CVP completed remark and the remarks date is less than or equal to a week from today's date.
          {% elif remark == 'Life Certificate not produced' %}
            Found {{ employees.count }} pensioner. Some {% if employees.count == 1 %}Pensioner{% else %}Pensioners{% endif %} have Life Certificate not produced.Put zero in the entire row.
          {% elif remark == 'Expired on' %}
            Found {{ employees.count }} pensioner. {% if employees.count == 1 %}Pensioner{% else %}Pensioners{% endif %} have Expired on and the remarks date is less than or equal to a week from today's date.
          {% elif remark == 'Half Pension' %}
            Found {{ employees.count }} pensioner.
          {% elif remark == '6th Pay' %}
            Found {{ employees.count }} pensioner.
          {% elif remark == '5th Pay' %}
            Found {{ employees.count }} pensioner.
          {% elif remark == 'Widow' %}
            Found {{ employees.count }} pensioner.Cut Rs.1500 from total.
          {% elif remark == 'Cvp not issued' %}
            Found {{ employees.count }} pensioner.
          {% elif remark == 'Retired' %}
            Found {{ employees.count }} pensioner.
          {% elif remark == 'Over' %}
            Found {{ employees.count }} pensioner.
          {% elif remark == 'New Family Pension' %}
            Found {{ employees.count }} pensioner.
          {% elif remark == 'Attained 25' %}
            Found {{ employees.count }} pensioner.
          {% else %}
            Found {{ employees.count }} pensioner. {% if employees.count == 1 %}Pensioner{% else %}Pensioners{% endif %} with remarks "{{ remark }} and Non zero Fixed Medical Allowance".
            
          {% endif %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <table class="table responsive-table">
        <thead>
          <tr>
            <th>SL.No</th>
            <th>PPO No.</th>
            <th>Name</th>
            {% if remark == 'Double Pension' %}
            <th>Account No.</th>
            {% endif %}
            {% if remark == 'Go to Abroad' or remark == 'Working as' or remark == 'Already Working' or remark == 'Double Pension' %}
            <th>F.M.A.</th>
            {% endif %}
            <th>Remarks</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ employee.pk_ppo }}</td>
              <td>{{ employee.name }}</td>
              {% if remark == 'Double Pension' %}
               <td>{{ employee.acc }}</td>
              {% endif %}
              {% if remark == 'Go to Abroad' or remark == 'Working as' or remark == 'Already Working' or remark == 'Double Pension' %}
               <td>{{ employee.fma }}</td>
              {% endif %}
              <td>{{ employee.remarks }}</td>
              <td>
                <div class="btn-group">
                  <a href="{% url 'update' pk_ppo=employee.pk_ppo %}" class="btn btn-success text-white">Update</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
  
    </section>
    <script>
        var closeBtn = document.querySelector('.alert .close');
        closeBtn.addEventListener('click', function() {
          var alertDiv = closeBtn.parentElement;
          alertDiv.remove();
        });
      </script>
</html>