<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% include 'sidebar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">  s
     <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}"> 
    <title>Document</title>
</head>
<body>
    <h1 class="is-size-4 is-uppercase has-text-centered weight-bold">Export data</h1>
    <p class = "is-size-4 is-lowercase has-text-centered ">exporting from database</p>
    <div class="container">
        <div class="row">
             <div class="col-md-12"> 
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Please select format of file.</p>
                <select name="file-format" class="form-control my-3">
                    <option selected>Choose format...</option>
                    <option>CSV</option>
                    <option class="bg-primary">JSON</option>
                    <option>XLSX (Excel)</option>
                  </select>
                <button class="button is-info" type="submit">Export</button>
              </form>
              <a href="{% url 'home' %}">Return Home </a>
    </div>
    </div>
    </div>
</body>
</html>

<!-- {% block content %} 
<h3>Import Data</h3>
<p>importing to database</p>

<a href="{% url 'home' %}">Return Home </a>
   {% endblock %}  -->