<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenForm</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="date">date</label>
        <input type="date" name="month">    
        <label for="drp">dr%</label>
        <input type="number" name="drp">
        <label for="basic_pay">basic pay</label>
        <input type="number" name="basic_pay">
        <input type="submit" value="Submit">
    </form>
</body>
</html>