<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% include 'sidebar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">  -->
 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" > 
 <link rel="stylesheet" href="{% static 'css/import.css' %}" >
 <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
     <!-- <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">  -->
    <title>Document</title>
</head>
<body>
    <!-- <h1 class="is-size-4 is-uppercase text-center weight-bold">Import data</h1>
    <p class = "is-size-4 is-lowercase text-center ">importing to database</p> -->
    <div class="container">
        <h5 class="title">IMPORTING DATA FROM {{ bank_name }}</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file-upload">
  <div class="file-select">
    <div class="file-select-button" id="fileName">Choose File</div>
    <div class="file-select-name" id="noFile">No file chosen...</div> 
    <input type="file" name="file" id="file">
  </div>
</div>
<br>
            <button type="submit" class="btn btn-primary">Import</button>
          </form>
    </div>
    <script>
        $('#file').bind('change', function () {
  var filename = $("#file").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen..."); 
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
  }
});
    </script>
</body>
</html>
