<!doctype html>
{% load static %}
{% load widget_tweaks %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
</head>
  <div style="text-align : right;">
<div class="btn-group">
            <a href="{{export_url}}"><button class="btn btn-primary">Export</button></a>
          </div>
  </div>
  <br>
<center><h5 class="has-text-weight-bold">PUDUCHERRY MUNICIPALITY</h5></center>     
<center><h5 class="has-text-weight-bold"> ACCOUNT SECTION</h5></center> 
<center><h5 class="has-text-weight-bold"> PUDUCHERRY</h5></center> 
<center><h5 class="has-text-weight-bold">*****</h5></center> 
<center><h5 class="has-text-weight-bold">{{title}}</h5></center>
  <table class="responsive-table">
    <thead>
       <tr>
        <th scope="col">SI.No</th>
                <th scope="col">PPO No</th>
                <th scope="col">Acc No</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Types of Pension</th>
                <th scope="col">Revised Basic Pension</th>
                <th scope="col">Revised Additional Pension</th>
                <th scope="col">Total pension</th>
                <th scope="col">Less Commuted Value</th>
                <th scope="col">Residuary Pension</th>
                <th scope="col">DR 38%</th>
                <th scope="col">F.M.A</th>
                <th scope="col">Total Emolume nts(7th CPC)</th>
                <th scope="col">Add Pension Amount</th>
                <th scope="col">Less Excess Amount</th>
                <th scope="col">Total</th>
                <th scope="col">Remarks</th>
                <th scope="col">Operations</th>
              </tr>
            </thead>
            <tbody>
                {% for emp in data %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{emp.ppo}}</td>
                <td>{{emp.acc|default_if_none:''}}</td>
                <td>{{emp.name|default_if_none:''}}</td>
                <td>{{emp.designation|default_if_none:''}}</td>
                <td>{{emp.types|default_if_none:''}}</td>
                <td>{{emp.basic|default_if_none:''}}</td>
                <td>{{emp.additional|default_if_none:''}}</td>
                <td>{{emp.total1|default_if_none:''}}</td>
                <td>{{emp.comuted|default_if_none:'0'}}</td>
                <td>{{emp.residuary|default_if_none:''}}</td>
                <td>{{emp.dr|default_if_none:''}}</td>
                <td>{{emp.fma|default_if_none:''}}</td>
                <td>{{emp.emolume|default_if_none:''}}</td>
                <td>{{emp.amount|default_if_none:''}}</td>
                <td>{{emp.less|default_if_none:''}}</td>
                <td>{{emp.Total2|default_if_none:''}}</td>
                <td>{{emp.remarks|default_if_none:''}}</td>
                <td>
                  <div class="btn-group">
                  <a href="{{emp.update_url}}" class="btn btn-success text-white">Update</a>
                  <a href="{{emp.delete_url}}" class="btn btn-danger text-white ml-2" onclick="return confirm('Are you sure you want to delete {{emp.pk_ppo}}')">Delete</a>  
                </div>              
        </td>
      </tr>
    {% endfor %}
  <tr>
</tbody>
</table>
</div>
    <script>
  var modal = document.getElementById('id01');
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  </script>
</html>