<!DOCTYPE html>
<html>
    {% load static %}
    {% include 'sidebar.html' %}
    {% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Pensioner details</title>
         <link rel="stylesheet" href="{% static 'css/sidebarbootstrap.css' %}"> 
        <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
         <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" > 
    </head>
    {% if error_message %}
{% endif %}
    <body>
        <div class="wrapper rounded bg-white ">
            <!-- <div class="wrapper rounded bg-white"> -->
            <div class="h3 text-center">Pensioner Detail on {{ bank_name }}</div>
            <br>
            {% if error %} <!-- warning handling --> 
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Alert! </strong>: {{error}}.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
          
                <!-- <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3" data-style="btn-success">
                        <p><strong>Bank:</strong> {{ bank_name }}</p>
                    </div>
                </div> -->
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <p><strong>PPO Number:</strong> {{ pensioner.ppo }}</p>
                        </div>
                        <div class="col-md-6 mt-md-0 mt-3">
                            <p><strong>Account Number:</strong> {{ pensioner.acc|default_if_none:'-' }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <p><strong>Name:</strong> {{ pensioner.name|default_if_none:'-' }}</p>
                        </div>
                        <div class="col-md-6 mt-md-0 mt-3">
                            <p><strong>Designation:</strong> {{ pensioner.designation|default_if_none:'-' }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <p><strong>Types of Pension:</strong> {{ pensioner.types|default_if_none:'-' }}</p>
                        </div>
                        <div class="col-md-6 mt-md-0 mt-3">
                            <p><strong>Revised Basic Pension:</strong> {{ pensioner.basic|default_if_none:'-' }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <p><strong>Revised Additional Pension:</strong> {{ pensioner.additional|default_if_none:'-' }}</p>
                        </div>
                        <div class="col-md-6 mt-md-0 mt-3">
                            <p><strong>Total Pension:</strong> {{ pensioner.total1|default_if_none:'-' }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-md-0 mt-3">
                                <p><strong>Less Commuted Value:</strong> {{ pensioner.comuted|default_if_none:'-' }}</p>
                            </div>
                            <div class="col-md-6 mt-md-0 mt-3">
                                <p><strong>Residuary Pension:</strong> {{ pensioner.residuary|default_if_none:'-' }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-md-0 mt-3">
                                <p><strong>DR 38%:</strong> {{ pensioner.dr|default_if_none:'-' }}</p>
                            </div>
                            <div class="col-md-6 mt-md-0 mt-3">
                                <p><strong>F.M.A:</strong> {{ pensioner.fma|default_if_none:'-' }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-md-0 mt-3">
                                <p><strong>Total Emolume nts(7th NPC)</strong> {{ pensioner.emolume|default_if_none:'-' }}</p>

                            </div>
                            <div class="col-md-6 mt-md-0 mt-3">
                                <p><strong>Add Pension Amount:</strong> {{ pensioner.amount|default_if_none:'-' }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-md-0 mt-3">
                                <p><strong>Less Excess Amount:</strong> {{ pensioner.less|default_if_none:'-' }}</p>
                            </div>
                            <div class="col-md-6 mt-md-0 mt-3">
                                <p><strong>Total:</strong> {{ pensioner.Total2|default_if_none:'-' }}</p>

                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-md-6 mt-md-0 mt-3">
                                <p><strong>Remarks:</strong> {{ pensioner.remarks|default_if_none:'-' }}</p>
                            </div>
                            <div class="col-md-6 mt-md-0 mt-3">
                                <p><strong>Issued At:</strong> {{ pensioner.issued_at}}</p>
                            </div>
                        </div>       
                        <div class="row">
                            
                            <div class="col-md-6 mt-md-0 mt-3">
                            </div>
                            <div class="col-md-6 mt-md-0 mt-3">
                                <a href="{{pensioner.update_url}}" class="btn btn-success text-white">Update</a>
                                <a href="{{pensioner.delete_url}}" class="btn btn-danger text-white ml-2" onclick="return confirm('Are you sure you want to delete {{pensioner.pk_ppo}}')">Delete</a>
                            </div>
                        </div>
        </div> 
    </body>
</html>