<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <!-- <title>Responsive Sidebar</title> -->
  <!-- Link Styles -->
  <link rel="icon" type="image/x-icon" href="{% static 'img/title logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <style>
    .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
  }



#confirm-logout {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#cancel-logout {
  background-color: #ddd;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #ccc;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

  </style>
  
</head>
<body>  
  
  <div class="sidebar">
    <div><i class="bx bx-menu"  id="btn"></i></div>
    <div class="profile">
      
      
      <a href="https://pdymun.in/">
      <img src="{% static 'img/logo.png' %}" alt="profile_picture">
    </a>
      
    
    
    <div class="logo_details">
      <div class="logo_name">PUDUVAI PENSION</div>
    

      
    </div>
    </div>
    <i class="bx bx-blank"></i>
    

    <ul class="nav-list">
      <form id="search-form" method="get" action="">
        <li>
          <i class="bx bx-search"></i>
          <input type="text" id="search-input" name="pk_ppo" placeholder="Search PPO Number...">
          <span class="tooltip">Search</span>
        </li>
      </form>
      <li>
        <a href="{% url 'dashboard' %}">
          <i class="bx bx-grid-alt"></i>
          <span class="link_name">Dashboard</span> 
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="{% url 'create' %}">
          <i class="bx bx-user-plus"></i>
          <span class="link_name">Create</span>
        </a>
        <span class="tooltip">Create</span>
      </li>
      <li>
        <a href="{% url 'bankoption' %}">
          <i class="bx bx-import"></i>
          <span class="link_name">Import</span>
        </a>
        <span class="tooltip">Import</span>
      </li>
      <li>
        <a href="{% url 'notification' %}">
          <i class="bx bx-bell "></i>
          <span class="link_name">Notification</span>
        </a>
        <span class="tooltip">Notification</span>
      </li>
      <li>
        <a href="{% url 'account_logout' %}" id="logout-link">
          <i class="bx bx-log-out"></i>
          <span class="link_name">Logout</span>
        </a>
        <span class="tooltip">logout</span>
      </li>
      
      <!-- <li>
        <a href="#">
          <i class="bx bx-cart-alt"></i>
          <span class="link_name">Order</span>
        </a>
        <span class="tooltip">Order</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="link_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li class="profile">
        <div class="profile_details">
          <img src="profile.jpeg" alt="profile image">
          <div class="profile_content">
            <div class="name">Anna Jhon</div>
            <div class="designation">Admin</div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
      </li> -->
    </ul>
  </div>
  <div id="logout-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Are you sure you want to log out?</p>
      <button id="confirm-logout">Yes</button>
      <button id="cancel-logout">Cancel</button>
    </div>
  </div>
  
  
  <!-- Scripts -->
  <script src="{% static 'js/script.js' %}"></script>
  <script>
    const searchForm = document.querySelector('#search-form');
  const searchInput = document.querySelector('#search-input');

  searchForm.addEventListener('submit', (e) => {
    e.preventDefault();
    const pk_ppo = searchInput.value.trim();
    window.location.href = `/search/${pk_ppo}/`;
  });

    const logoutLink = document.querySelector('#logout-link');
    const logoutModal = document.querySelector('#logout-modal');
    const confirmLogoutButton = document.querySelector('#confirm-logout');
    const cancelLogoutButton = document.querySelector('#cancel-logout');

logoutLink.addEventListener('click', (event) => {
  event.preventDefault();
  logoutModal.style.display = 'block';
});

cancelLogoutButton.addEventListener('click', () => {
  logoutModal.style.display = 'none';
});

confirmLogoutButton.addEventListener('click', () => {
  // Handle the logout process
  // ...
  // Redirect to the logout page
  window.location.href = '/logout';
});

var modal = document.getElementById("logout-modal");

// Get the close button
var closeBtn = document.getElementsByClassName("close")[0];

// When the user clicks on the close button, close the modal
closeBtn.onclick = function() {
  modal.style.display = "none";
}

  </script>
  
  <div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>