*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

.logo{
    display: flex; 
    align-items: center;
}

.form{
    width: 350px;
    height: 330px;
    color: rgb(255, 0, 0);
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 25px;
    border-radius: 10px;
}
.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px; /* Adjust this value to fit your content height */
}
